$ff-primary: 'Fira Sans', sans-serif;
$ff-secondary: 'PT Serif', serif;
$borderRadius: 0.4375rem;
$transition: all 300ms linear;
$letterSpacing: 1px;
$maxWidth: 1400px;

// colors
$clr-primary-100: #d1d2d6;
$clr-primary-200: #a3a5ad;
$clr-primary-300: #757784;
$clr-primary-400: #474a5b;
$clr-primary-500: #191d32;
$clr-primary-600: #141728;
$clr-primary-700: #0f111e;
$clr-primary-800: #0a0c14;
$clr-primary-900: #05060a;
$clr-secondary-100: #ffe1e1;
$clr-secondary-200: #ffc4c4;
$clr-secondary-300: #ffa6a6;
$clr-secondary-400: #ff8989;
$clr-secondary-500: #ff6b6b;
$clr-secondary-600: #cc5656;
$clr-secondary-700: #994040;
$clr-secondary-800: #662b2b;
$clr-secondary-900: #331515;
$clr-white: #ffffff;
$clr-med-turquoise: #4ecdc4;

$light-box-shadow: 4px 8px 14px -3px rgba(0, 0, 0, 0.42);
$dark-box-shadow: 4px 9px 15px 0px rgba(0, 0, 0, 0.43);
